class Message extends Component {

    static defaultProps = {
        txt: 'Hello auke'
    }

    render() {
        return <div>{this.props.txt}</div>;
    }
}

ReactDOM.render(<Message />, document.getElementById('root'));
