
class CounterContainer extends Component {

    state = {
        count: 0;
    }

    increment = () => {
        this.setState({ count: this.state.count++ });
    };

    render() {
        return (
            <div>
                <button onClick={this.increment} />
                <Counter count={this.state.count} />
            </div>
        )
    }
}

class Counter extends Component {
    render() {
        return (
            <div>{this.props.count}</div>;
        );
    }
}
