class UserComponent extends Component {

    state = {
        name: 'Henk',
        job: 'Developer'
    };

    render() {
        return (<div>
            My name is {this.state.name}
            and I am a {this.state.job}.
        </div>);
    }
}
