
class Counter extends Component {

    defaultProps = {
        title: 'Basic counter!!!'
    };

    state = {
        count: 0
    };

    handleIncrement = () => {
        this.setState({count: this.state.count + 1});
    },

    handleDecrement = () => {
        this.setState({count: this.state.count - 1});
    },

    render() {
        return (
            <div>
                <h1>{this.props.title}</h1>
                <div>{this.state.count}</div>
                <button value='+' onClick={this.handleIncrement} />
                <button value='-' onClick={this.handleDecrement} />
            </div>
        );
    }
}
