import React, {Component} from 'react';
import ReactDOM from 'react-dom';
import './style.css';

const ipsumText = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.';

class JSX extends Component {

    render() {
        return (
            <div>
                <a className="button">Button</a>
                <div>{ipsumText}</div>
            </div>
        );
    }
}

ReactDOM.render(
    <JSX/>,
    document.getElementById('implementation')
);
