class Counter extends Component {

    state = {
        count: 0
    };

    increment = () => {
        this.setState({ count: this.state.count + 1 });
    };

    render() {
        return (
            <div>
                <button
                    type="button"
                    onClick={this.increment}>
                    increment
                </button>
                {this.state.count}
            </div>
        )
    }
}

ReactDOM.render(<Counter/>,
    document.getElementById('implementation')
);
